body {
    font-size: 1.7em;
    padding-left: 1em;
    padding-bottom: 2em;
}
h1 {
    text-align: center;
}
h2:before {
    content: "";
    display: inline-block;
    border-top: 15px solid #FFF;
    border-left: 15px solid #886E9E;
    border-bottom: 15px solid #FFF;
    vertical-align: middle;
    margin-right: 0.6em;
}
img.photo {
    width: 300px;
    margin-right: 10px;
}
