body {
    font-size: 1.7em;
    font-family: 'Adobe 繁黑體 Std B', '文泉驛微米黑', '微軟正黑體', sans-serif;
    background-color: #EEF8FE;
}
h1 {
    text-align: center;
}
h2:before {
    content: "";
    display: inline-block;
    border-top: 15px solid #EEF8FE;
    border-left: 15px solid #886E9E;
    border-bottom: 15px solid #EEF8FE;
    vertical-align: middle;
    margin-right: 0.6em;
}
img.member {
    width: 300px;
    margin-right: 10px;
}
div.member {
    text-align: center;
    padding: 10px;
}
footer {
    text-align: center;
    background-color: #88C;
    color: white;
    padding: 10px;
    margin-top: 30px;
}
div.bitbucket {
    display: inline-block;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    background-color: black;
    color: white;
    position: absolute;
    top: 77px;
    right: 1px;
    font-size: 10pt;
} 
#logo {
    height: 60px;
    border-radius: 50%;
    border: 3px solid #000;
    vertical-align: middle;
}
